.button {
  display: none;
}

@media screen and (max-width:599px) {
  #myCanvas {
    width: 100%;
  }

  .button {
    display: block;
    text-align: center;
  }

  .button>* {
    background: lightgray;
    width: 30%;
    margin: auto;
    height: 60px;
    line-height: 60px;
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow:
     0 1.9px 2.5px rgba(0, 0, 0, 0.057),
     0 5px 6.1px rgba(0, 0, 0, 0.076),
     0 10.1px 11.4px rgba(0, 0, 0, 0.086),
     0 19.2px 19.8px rgba(0, 0, 0, 0.092),
     0 38.4px 34.8px rgba(0, 0, 0, 0.1),
     0 101px 74px rgba(0, 0, 0, 0.13);
  cursor: pointer;
  -webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
  }
}
